/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  color: black;
  font-family: 'Oxygen', sans-serif;
}


h1 {
  color: black;
}

nav ul a,
nav .brand-logo {
  color: #000;
  height: 100%;
  background-color: transparent;
  opacity:1.0;
  box-shadow:none;
}

p {
  line-height: 2rem;
}

a {
  color: white;
}

a.hover {
  color: blue;
}

.resume {
    display: block;
    height: 75px;
    width: 200px;
    line-height: 60px;

    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */

    background-color: black;
    color: white;
    text-align: center;
    margin: auto 0;
    font-size: 2em;
}

.nav {
  background-color: white;
  height: 65px;
  border-bottom: 1px black;
  opacity:.8;
  }

.nav:hover {
    opacity:1.0;
    box-shadow:none;
    -webkit-animation-delay: 1.0s;
    -moz-animation-delay:1.0s;
    animation-delay: 1.0s;
}

.fa:hover { 
    color: #90bed5;
    background-color: transparent;
    opacity:1.0;
    box-shadow:none;
    -webkit-animation-delay: 1.0s;
    -moz-animation-delay:1.0s;
    animation-delay: 1.0s;
}


/*.button-collapse {
  color: #26a69a;
}*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.gallery {
  background: #fff;
}

.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  background: #ED2;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.parallax-container {
  height: 100vh;
  line-height: 0;
  color: rgba(255,255,255,.9);
  background-attachment: fixed;
  padding-top: 0px;
}
  .parallax-container .section {
    width: 100%;
    padding-top: 0;
  }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 0%;
  }
  #index-banner .section {
    top: 0%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  color: #000000;
}
.icon-block .material-icons {
  color: #000000;
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.fa {
  color: #000000;
}
.fa-cog {
  color: #000000;
}

h2 {
  padding-top: 15px;
}

.header-text {
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
  margin: auto 0;
  vertical-align: center;
  font-size: 55px;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-shadow: 0 1px 0 black;
}

.header-text2 {
  text-align: center;
  letter-spacing: 2px;
  margin: auto 0;
  vertical-align: center;
  font-size: 32px;
  line-height: 10px;
  color: white;
  padding-top: 20px;
  width: 100%;
}

.name-text {
  color: black;
  font-family: font-family: 'Oxygen', sans-serif;
  size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.Flexible-container {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 0;
    overflow: hidden;
    float: center;

}

.pretty-box {
  background-color: #90bed5;
  color: black;
  padding: 30px;
  margin: 10px;
  vertical-align: center;
  margin: auto 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

@media screen and (max-width: 100%)   {
    .pretty-box, .Flexible-container{
        width:100%;   
        float:none;
    }

}

.input-field {
  width: 200px;
}

#headshot {
    height: 300px;
    margin: auto 0;
    float: center;
    padding: 20px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay:1.0s;
  animation-delay: 1.0s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.fade-top {
  from {top:0px; opacity: 0;}
  to {top:200px; opacity: 1;}
}
/*---make a basic box ---*/

/*#elementID {
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}*/

.icon::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

/*.aboutbg {
  background: url("trillium2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/